<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Mercado Liberto: Carrinho</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Mercado Liberto<%= usuario_logado.ADM == 1? ' Área de ADM' : '' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
              </li>
              <% if(usuario_logado.ADM == 1 ){ %>
                <li class="nav-item active">
                  <a class="nav-link" href="lista_usuarios">Editar Usuários</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="lista_produtos_adm">Editar Produtos</a>
                  </li>
                  <li class="nav-item active">
                  <a class="nav-link" href="/transportadora">Cadastrar Transportadora</a>
                  </li>
                  <li class="nav-item active">
                  <a class="nav-link" href="/lista_transportadoras">Editar Transportadoras</a>
                  </li>
              <% } %>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= usuario_logado.Nome %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/edita_conta">Meu Perfil</a>
                      <% if(usuario_logado.ADM == 0 ){ %>
                      <a class="dropdown-item" href="/lista_produtos">Meus Produtos</a>
                      <a class="dropdown-item" href="/carrinho">Carrinho</a>
                      <a class="dropdown-item" href='/produto'>Vender</a>
                      <% } %>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/">Sair</a>
                  </div>
              </li>
          </ul>
      </div>
    </nav>
   </body>